<template>
    <section class="contact section-padding bg-img" data-overlay-dark="8" data-background="img/b5.jpg" data-scroll-index="6">
        <div class="container">
            <div class="row">
                <div class="section-head full-width mb-50">
                    <h4 class="title">Get In Touch</h4>
                </div>
                <form class="form full-width" id="contact-form" method="post" action="http://www.innovationplans.com/idesign/personala/contact.php">
                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" type="text" name="name" placeholder="Name *" required="required">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" placeholder="Email *" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="message" placeholder="Your Message *" rows="4" required="required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="buton buton-lg">
                                        <button type="submit" front="Send Message" back="&#xf35d;"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="info full-width">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item mb-sm50">
                                <i class="icon fab fa-linkedin-in"></i>
                                <div class="cont">
                                    <h6>LinkedIn</h6>
                                    <p><a href="https://linkedin.com/in/lewismunyi">connect</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item mb-sm50">
                                <i class="icon far fa-envelope-open fa-4x"></i>
                                <div class="cont">
                                    <h6>Email</h6>
                                    <p><a href="mailto:lewis_m@students.uonbi.ac.ke">lewis_m@students.uonbi.ac.ke</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <i class="icon fas fa-map-marker-alt"></i>
                                <div class="cont">
                                    <h6>Address</h6>
                                    <p>7916 (00100), Nairobi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'Contact',
};
</script>

<style lang="scss" scoped>
    $primary: #1ABC9C;
    .contact {
        background-attachment: fixed;
    }
    .contact .form input[type='text'],
    .contact .form input[type='email'],
    .contact .form textarea {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px;
        background: rgba(10, 10, 10, 0.4);
        color: #fff;
        margin-bottom: 15px;
    }
    .contact .form textarea {
        height: 160px;
        max-height: 160px;
        max-width: 100%;
    }
    .contact .form button {
        background: transparent;
        border: 0;
    }
    .contact .info {
        margin-top: 50px;
    }
    .contact .info .item .icon {
        float: left;
        padding-top: 5px;
        font-size: 25px;
        color: $primary;
    }
    .contact .info .item .cont {
        margin-left: 45px;
        padding-left: 15px;
        border-left: 1px solid rgba(200, 200, 200, 0.4);
    }
    .contact .info .item .cont h6 {
        font-size: 14px;
    }
</style>
