<template>
    <div v-show="isNotLoadingCounter" class="numbers bg-img" id="numbers" data-stellar-background-ratio="0.5" data-overlay-dark="8" data-background="img/b3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item mb-md50">
                        <span class="icon far fa-file-code"></span>
                        <h2 class="count" id="commit"></h2>
                        <p>Commits</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item mb-md50">
                        <span class="icon fas fa-layer-group"></span>
                        <h2 class="count" id ="repos"></h2>
                        <p>Repositories</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item mb-sm50">
                        <span class="icon fas fa-chalkboard-teacher"></span>
                        <h2 class="count" id="conferences">520</h2>
                        <p>Conferences/Workshops</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <span class="icon far fa-calendar-alt"></span>
                        <h2 class="count" id="years">3</h2>
                        <p>Years Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

const CountUp = require('countup.js');

export default {
  name: 'Counters',
  data() {
    return {
      isNotLoadingCounter: false,
      loc: 0,
      commits: 0,
      repositories_sum: 0,
      repositories: [],
    };
  },
  methods: {
    updateCounter() {
      const options = {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        suffix: '+',
      };
      const commits = new CountUp('commit', 0, this.commits, 0, 3, options);
      const repositories = new CountUp('repos', 0, this.repositories_sum, 0, 3, options);
      const conferences = new CountUp('conferences', 0, 10, 0, 3, options);
      const yearsexperience = new CountUp('years', 0, 3, 0, 3, options);

      // Show component and initiate counters
      this.isNotLoadingCounter = true;
      commits.start();
      repositories.start();
      conferences.start();
      yearsexperience.start();
    },
    // get repository commits
    getCommits() {
      const self = this;
      const repos = self.repositories;
      // Loop through the repository list and make a request for the repository commits of each repo
      for (let i = 0; i < repos.length; i++) {
        //   Get repo commits
        axios.get(`https://api.github.com/repos/lewis-munyi/${repos[i]}/commits`, {
          params: {
            access_token: '347ac662c7f6b8e158bbc2824f084e4c733c3623',
          },
        })
          .then((response) => {
            const repoData = response.data;
            // Sum up all the commits
            for (let j = 0; j < repoData.length; j++) {
              self.commits++;
            }
            self.repositories_sum = self.repositories.length;
            self.updateCounter();
          })
          .catch((error) => {
            // console.log(error);
          })
          .then(() => {
            // always executed
          });
      }
    },

    // Get a list of all my public repos
    getRepositories() {
      const self = this;
      axios.get('https://api.github.com/user/repos', {
        params: {
          access_token: '347ac662c7f6b8e158bbc2824f084e4c733c3623',
          per_page: 100,
          sort: 'updated',
        },
      })
        .then((response) => {
          const repos = response.data;
          // append the repo list to the repositories data element
          for (let i = 0; i < repos.length; i++) {
            self.repositories.push([repos[i].name]);
          }
          // After populating the repos get Commits
          self.getCommits();
        })
        .catch((error) => {
          // console.log(error);
        })
        .then(() => {
          // always executed
        });
    },
  },
  mounted() {
    this.getRepositories();
  },
};
</script>

<style lang="scss" scoped>
    $primary: #1ABC9C;
    .numbers {
        padding: 50px 0;
    }
    .numbers .item {
        text-align: center;
    }
    .numbers .item .icon {
        font-size: 30px;
        color: $primary;
        margin-bottom: 30px;
    }
    .numbers .item h2 {
        font-weight: 200;
        margin-bottom: 10px;
    }
</style>
