<template>
    <!-- Start Resume -->
    <section class="resume bg-img" data-overlay-dark="8" data-background="img/b4.jpg" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="item mb-md50">
                        <i class="fas fa-graduation-cap icon"></i><br>
                        <h5 class="title title-left">Education</h5>
                        <ul>
                            <li>
                                <h6><a href="https://sci.uonbi.ac.ke" target="_blank" rel="noopener">University of Nairobi</a></h6>
                                <p>
                                    BSc. Computer Science <br>
                                    <i>September 2017 - Present</i>
                                </p>
                            </li>
                            <li>
                                <h6><a href="https://www.kamilimu.org/" target="_blank" rel="noopener">Kamilimu.org</a></h6>
                                <p>
                                    Mentorship program <br>
                                    <i>February 2019 - Present</i>
                                </p>
                            </li>
                            <li>
                                <h6><a href="https://sci.uonbi.ac.ke" target="_blank" rel="noopener">University of Nairobi</a></h6>
                                <p>
                                    Diploma in Computer Science <br>
                                    <i>September 2015 - May 2017</i>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item mb-md50">
                        <i class="fas fa-briefcase icon"></i><br>
                        <h5 class="title title-left">Experience</h5>
                        <ul>
                            <li>
                                <h6>Software Engineer</h6>
                                <p><a href="https://amprest.co.ke/" target="_blank" rel="noopener">Amprest Technologies</a></p>
                            </li>
                            <li>
                                <h6>Full stack developer</h6>
                                <p><a target="_blank" rel="noopener">Pearson Limited</a></p>
                            </li>
                            <li>
                                <h6>Intern</h6>
                                <p><a href="http://planning.go.ke/" target="_blank" rel="noopener">
                                    The National Treasury,<br>
                                    State Department of planning
                                </a>
                                </p>
                            </li>
                            <li>
                                <h6>Front-end developer</h6>
                                <p><a href="http://brightmakes.com/" target="_blank" rel="noopener">BrightMakes Technologies</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item mb-md50">
                        <i class="fas fa-briefcase fa-trophy icon"></i><br>
                        <h5 class="title title-left">Accomplishments</h5>
                        <ul>
                            <li>
                                <h6>Certified Digital Marketer</h6>
                                <p>Google</p>
                            </li>
                            <li>
                                <h6>Certified Cloud Architect</h6>
                                <p>IBM</p>
                            </li>
                            <li>
                                <h6>New Collar Award in Blockchain fundamentals</h6>
                                <p>IBM</p>
                            </li>
                            <li>
                                <h6>New Collar Award in Data Science</h6>
                                <p>IBM</p>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item mb-md50">
                        <i class="fas fa-briefcase icon"></i><br>
                        <h5 class="title title-left">Communities</h5>
                        <ul>
                            <li>
                                <h6><a class="text-white" href="https://dsc-uon.firebaseapp.com">GDG University of Nairobi</a></h6>
                                <p>Chapter Lead</p>
                            </li>
                            <li>
                                <h6>Open Source</h6>
                                <p>Contributer</p>
                            </li>
                            <li>
                                <h6>Study Jams, Workshops, Codelabs</h6>
                                <p>Facilitator</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Resume -->
</template>

<script>
export default {
  name: 'Experience',
};
</script>

<style lang="scss" scoped>
    /* ----------------------------------------------------------------
                    06 Resume
    -----------------------------------------------------------------*/
    $primary: #1ABC9C;
    .resume {
        background-attachment: fixed;
        padding: 50px 0;
    }
    .resume .title {
        margin-bottom: 40px;
        letter-spacing: 2px;
    }
    .resume .item h5 {
        font-size: 25px;
        font-weight: 400;
    }
    .resume .item .icon {
        font-size: 30px;
        color: $primary;
        margin-bottom: 15px;
    }
    .resume .item li {
        margin-bottom: 30px;
    }
    .resume .item li:last-child {
        margin-bottom: 0;
    }
    .resume .item li h6 {
        color: #eee;
        font-size: 18px;
        font-weight: 600;
        font-family: inherit;
        margin-bottom: 5px;
    }
    .resume .item li p {
        color: #999;
    }
    .resume .item li p a:hover{
        color: #fff;
    }
    .resume .skills .skill {
        margin-bottom: 30px;
    }
    .resume .skills .skill:last-child {
        margin-bottom: 0;
    }
    .resume .skills .skill h6 {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 400;
    }
    .resume .skills .skill h6 span {
        padding: 4px 8px 0;
        font-size: 10px;
        float: right;
        background: rgba(80, 80, 80, 0.3);
        position: relative;
        top: 8px;
    }
    .resume .skills .skill .skills-progress {
        position: relative;
        width: 100%;
        height: 4px;
        background: rgba(80, 80, 80, 0.3);
    }
    .resume .skills .skill .skills-progress span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5%;
        background: $primary;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
</style>
