<template>
    <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="img/bg1.jpg" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="vertical-center full-width text-center caption">
                    <h2>Hello there, I'm <b>Lewis</b></h2>
                    <h1 class="cd-headline clip">
                        <!--<span class="blc">I Am A </span>-->
                        <span class="cd-words-wrapper">
                          <b class="is-visible">Web artisan</b>
                          <b>GDG Lead Lead</b>
                          <b>Digital Marketer</b>
                          <b>Blockchain enthusiast</b>
                          <b>Software developer</b>
                          <b>Workshop Facilitator</b>
                          <b>Web artisan</b>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="arrow">
            <a href="#" data-scroll-nav="1">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </header>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style scoped>
    .header {
        min-height: 100vh;
    }
    .header .caption {
        margin-top: 50px;
    }
    .header .caption h2 {
        font-weight: 200;
    }
    .header .caption h1 {
        margin: 10px 0;
        font-size: 70px;
    }
    .header .arrow {
        position: absolute;
        bottom: 5vh;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 13px;
        z-index: 8;
    }
    .header .arrow i {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .header .arrow i:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        z-index: -1;
        -webkit-transition: all .2s;
        transition: all .2s;
    }
    .header .arrow i:hover:after {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
</style>
