<template>
    <section class="portfolio section-padding" data-scroll-index="3">
        <div class="container">
            <div class="row">

                <!-- Section-Head -->
                <div class="section-head full-width">
                    <h4 class="title">My Portfolio</h4>
                </div>

            </div>

            <div class="row justify-content-center">

                <!-- filter links -->
                <div class="filtering text-center mb-50">
                    <span data-filter='*' class="active">All</span>
                    <span data-filter='.brand'>Brand</span>
                    <span data-filter='.web'>Design</span>
                    <span data-filter='.graphic'>Graphic</span>
                </div>

                <!-- gallery -->
                <div class="gallery full-width">

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items graphic">
                        <div class="item-img">
                            <img src="img/portfolio/1.jpg" alt="image">
                            <div class="item-img-overlay text-center valign">
                                <div class="overlay-info vertical-center full-width">
                                    <h6>Design . Motion</h6>
                                    <h5>Crearive Design</h5>
                                </div>
                                <a href="img/portfolio/1.jpg" class="link">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items web">
                        <div class="item-img">
                            <img src="img/portfolio/2.jpg" alt="image">
                            <div class="item-img-overlay text-center valign">
                                <div class="overlay-info vertical-center full-width">
                                    <h6>Design . Motion</h6>
                                    <h5>Crearive Design</h5>
                                </div>
                                <a href="img/portfolio/2.jpg" class="link">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items graphic">
                        <div class="item-img">
                            <img src="img/portfolio/3.jpg" alt="image">
                            <div class="item-img-overlay text-center valign">
                                <div class="overlay-info vertical-center full-width">
                                    <h6>Design . Motion</h6>
                                    <h5>Crearive Design</h5>
                                </div>
                                <a href="img/portfolio/3.jpg" class="link">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items web">
                        <div class="item-img">
                            <img src="img/portfolio/4.jpg" alt="image">
                            <div class="item-img-overlay text-center valign">
                                <div class="overlay-info vertical-center full-width">
                                    <h6>Design . Motion</h6>
                                    <h5>Crearive Design</h5>
                                </div>
                                <a href="img/portfolio/4.jpg" class="link">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items brand">
                        <div class="item-img">
                            <img src="img/portfolio/5.jpg" alt="image">
                            <div class="item-img-overlay text-center valign">
                                <div class="overlay-info vertical-center full-width">
                                    <h6>Design . Motion</h6>
                                    <h5>Crearive Design</h5>
                                </div>
                                <a href="img/portfolio/5.jpg" class="link">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items brand">
                        <div class="item-img">
                            <img src="img/portfolio/6.jpg" alt="image">
                            <div class="item-img-overlay text-center valign">
                                <div class="overlay-info vertical-center full-width">
                                    <h6>Design . Motion</h6>
                                    <h5>Crearive Design</h5>
                                </div>
                                <a href="img/portfolio/6.jpg" class="link">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 text-center">
                    <span class="buton">
                      <a href="https://github.com/lewis-munyi" front="View All" back="Github"></a>
                    </span>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'Portfolio',
};
</script>

<style lang="scss" scoped>
    $primary: #1ABC9C;
    .portfolio {
        overflow: hidden;
    }
    .portfolio .filtering span {
        padding: 8px 20px;
        margin: 0 5px;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        border: 1px solid #eee;
        border-radius: 10px;
    }
    .portfolio .filtering .active {
        color: #000;
        background: $primary;
        border-color: $primary;
    }
    .portfolio .filtering .active:after {
        bottom: 0;
        top: calc(100% - 1px);
        opacity: 1;
    }
    .portfolio .filtering .active:before {
        top: 0;
        opacity: 1;
    }
    .portfolio .items {
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .portfolio .item-img {
        position: relative;
        overflow: hidden;
    }
    .portfolio .item-img h5 {
        font-size: 18px;
        position: relative;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        -webkit-transition: all .6s;
        transition: all .6s;
        opacity: 0;
        z-index: 5;
    }
    .portfolio .item-img h6 {
        color: $primary;
        font-size: 13px;
        position: relative;
        margin-bottom: 10px;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
        -webkit-transition: all .6s;
        transition: all .6s;
        opacity: 0;
        z-index: 5;
    }
    .portfolio .item-img .link {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: $primary;
        -webkit-transition: all .5s;
        transition: all .5s;
        z-index: 5;
        opacity: 0;
    }
    .portfolio .item-img-overlay {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: transparent;
        z-index: 2;
    }
    .portfolio .item-img-overlay:before, .portfolio .item-img-overlay:after {
        content: '';
        position: absolute;
        width: 0;
        height: 50%;
        background: #fff;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    .portfolio .item-img-overlay:before {
        left: 0;
        top: 0;
    }
    .portfolio .item-img-overlay:after {
        right: 0;
        bottom: 0;
    }
    .portfolio .item-img-overlay:hover:before, .portfolio .item-img-overlay:hover:after {
        width: 100%;
    }
    .portfolio .item-img-overlay:hover h6, .portfolio .item-img-overlay:hover h5, .portfolio .item-img-overlay:hover .link {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
</style>
