<template>
    <section class="services section-padding" data-scroll-index="2">
        <div class="container">
            <div class="row">

                <div class="section-head full-width">
                    <h4 class="title">My Skills</h4>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="item mb-md50">
                        <i class="icon fas fa-code"></i>
                        <h6>Web development</h6>
                        <p>I create <b>Fast</b>, <b>Secure</b>, <b>Reliable</b> and <b>Engaging</b> user experiences that have reach of the web.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 active bolt">
                    <div class="item mb-md50">
                        <i class="icon fas fa-chalkboard-teacher"></i>
                        <h6>Speaker</h6>
                        <p>I facilitate codelabs & conferences on Progressive Web Apps and Firebase for the web.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item mb-md50">
                        <i class="icon fas fa-hands-helping"></i>
                        <h6>Leadership</h6>
                        <p>I am passionate about <b>building developer communities</b> because I believe that anyone can code!</p>
                    </div>
                </div>
                <div class="bord full-width"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="item mb-md50">
                        <i class="icon fab fa-vuejs"></i>
                        <h6>Vue & Vuex</h6>
                        <p>I create fast, beautiful <b>Single Page Applications</b> in Javascript that can run on any browser.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 active bolt">
                    <div class="item mb-sm50">
                        <i class="icon fab fa-laravel"></i>
                        <h6>Laravel</h6>
                        <p>I create secure, and <b>robust</b> php applications and server-side APIs using Laravel and Lumen.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <i class="icon fas fa-brain"></i>
                        <h6>AI & ML</h6>
                        <p>I use machine learning to create smart solutions in <b>Computer Vision</b> and Natural Language Processing.</p>
                    </div>
                </div>

                <div class="bord full-width"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="item mb-md50">
                        <i class="icon fas fa-globe"></i>
                        <h6>Digital Marketing</h6>
                        <p>I increase your business's online presence thus helping potential customers reach you.</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 active">
                    <div class="item mb-sm50">
                        <i class="icon fas fa-bars"></i>
                        <h6>Blockchain</h6>
                        <p><i>Soon...</i></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <i class="icon fas fa-database"></i>
                        <h6>Data Science</h6>
                        <p><i>Soon...</i></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</template>

<script>
export default {
  name: 'Services',
};
</script>

<style lang="scss" scoped>
    @import "~@fortawesome/fontawesome-free/css/all.min.css";
    $primary: #1ABC9C;
    .services .item {
        text-align: center;
        padding: 40px 15px;
    }
    .services .item .icon {
        font-size: 40px;
        color: $primary;
        margin-bottom: 30px;
    }
    .services .item h6 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .services .active {
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
        position: relative;
    }
    .services .active.bolt:before, .services .active.bolt:after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        bottom: -15px;
        z-index: 4;
    }
    .services .active.bolt:before {
        left: -15px;
    }
    .services .active.bolt:after {
        right: -15px;
    }
    .services .bord {
        border-bottom: 1px solid #eee;
    }
</style>
